### Raw vagrant data ###
.vagrant

### Gem lock file, since this is a shared/OS lib ###
Gemfile.lock

### Puppet lock file, since this is a shared/OS lib ###
Puppetfile.lock

### Puppet modules ###
provisioning/puppet/modules
